<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-if="isShow">
        <p>
          名称：<input type="text" v-model="name" placeholder="请输入名称..." />
        </p>
        <p>
          房间号：<input
            type="text"
            v-model="roomId"
            placeholder="请输入房间号..."
          />
        </p>
        <button @click="enterChat">进入聊天室</button>
      </div>

      <div v-else>
        <input type="text" v-model="inputVal" />
        <button @click="commit">提交</button>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;💻当前在线人数：{{ count }} </span>
        <span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🏠当前所在房间：{{ roomId }}
        </span>
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;😀您的名称：{{ name }} </span>
        <hr />
        <ul>
          <li v-for="msg in lists" :key="msg + Math.random()">{{ msg }}</li>
        </ul>
      </div>
    </div>
  </body>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script src="https://cdn.staticfile.org/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdn.staticfile.org/vue/2.6.1/vue.min.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        socket: {},
        lists: [],
        inputVal: "",
        name: "",
        isShow: true,
        count: 0,
        roomId: "",
      },
      mounted() {
        // 开启WebSocket连接
        this.init();
      },
      methods: {
        // 监听服务端回话
        onmessage(msg) {
          this.lists.push(msg);
        },
        // 监听服务端登录
        onEnterOrLeaveChat(msg) {
          try {
            msg = JSON.parse(msg);

            this.lists.push(msg.message);
            this.count = msg.count;
          } catch (err) {
            // noop...
          }
        },
        // 向服务端发送消息
        commit() {
          this.emit("chatEvent", `${this.name}：${this.inputVal}`);

          this.inputVal = "";
        },
        // 进入房间
        async enterChat() {
          if (this.name) {
            // 发送身份信息
            this.socket.emit(
              "enterChat",
              JSON.stringify({
                name: this.name,
                room: this.roomId,
              })
            );

            // 判断名称是否重复
            let canContinue = true;
            await new Promise((resolve, reject) => {
              console.log(this.socket);
              this.socket.on("nameHasBeen", (msg) => {
                if (msg) {
                  canContinue = false;
                  alert("名称已经存在了！");
                }
                resolve(1);
              });
            });
            if (!canContinue) {
              return;
            }

            // 初始化聊天室信息
            this.isShow = false;
          } else {
            alert("名称不得为空");
          }
        },
        // websocket消息提交方法
        emit(messageName, messageContent, needLocalPush = true) {
          needLocalPush && this.lists.push(messageContent);
          this.socket.emit(messageName, messageContent);
        },
        // 初始化socket连接
        init() {
          this.socket = io();
          this.socket.on("message", this.onmessage);
          this.socket.on("enterOrLeave", this.onEnterOrLeaveChat);
        },
      },
    });
  </script>
</html>
