<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-if="isShow">
        <input type="text" v-model="name" placeholder="请输入名称..." />
        <button @click="enterChat">进入聊天室</button>
      </div>

      <div v-else>
        <input type="text" v-model="inputVal" />
        <button @click="commit">提交</button>
        <hr />
        <ul>
          <li v-for="msg in lists" :key="msg + Math.random()">{{ msg }}</li>
        </ul>
      </div>
    </div>
  </body>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script src="https://cdn.staticfile.org/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdn.staticfile.org/vue/2.6.1/vue.min.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        socket: {},
        lists: [],
        inputVal: "",
        name: "",
        isShow: true,
      },
      mounted() {
        this.socket = io();
        this.socket.on("message", this.onmessage);
      },
      methods: {
        // 监听服务端回话
        onmessage(msg) {
          this.lists.push(msg);
        },
        // 向服务端发送消息
        commit() {
          this.emit("chatEvent", `${this.name}：${this.inputVal}`);

          this.inputVal = "";
        },
        enterChat() {
          if (this.name) {
            this.isShow = false;
            this.socket.emit("enterChat", this.name);
            this.lists.push(`服务器：用户 ${this.name} 进入聊天室！`);
          } else {
            alert("名称不得为空");
          }
        },
        // websocket消息提交方法
        emit(messageName, messageContent, needLocalPush = true) {
          needLocalPush && this.lists.push(messageContent);
          this.socket.emit(messageName, messageContent);
        },
      },
    });
  </script>
</html>
